body{
    background-color: rgb(17, 17, 17);
    
}

div{
   
    margin: 100px;
    padding: 100px;
    border: solid 2px aliceblue;
    border-radius: 15px;
    background-color: rgb(24, 24, 24);
    text-align: center;

}

img {
    height: 95px;
    border-radius: 100px;
    margin-top: 30px;
}

h1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21px;
}

h2{
    margin-top: -10px;
    color: yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}

p{
    margin-top: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}

.b1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(70, 70, 70);
    border: none;
    height: 45px;
    width: 300px;
}

button{
    border-radius: 12px;
}

button:hover{
    transform: scale(1.1);
    color: yellow;
}

@media (max-width: 768px) {
    .botoes {
        display: block;
        margin: 20px;
    }
}